<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Builder Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/builder-styles.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap-slider.css">
  <link href="/css/bootstrap-colorpicker.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>

<body>
  <div class="container application">
    <!--  global navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#builderNavbar">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BUILDER</a>
          <span id="version">MVP 3</span>
        </div>
        <div class="collapse navbar-collapse" id="builderNavbar">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" id="link-export">Export</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--  iframe containing layout page -->
    <iframe src="/layout.html" width="100%" id="layoutframe">
      <p>Your browser does not support iframes.</p>
    </iframe>
    <!--  tool panel -->
    <div class="tool-panel" id="tool-panel"></div>
  </div>

  <script type="text/javascript" src="variables.json"></script>
  <script type="text/javascript" src="fonts.json"></script>
  <script type="text/javascript" src="defaults.json"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.3.4/underscore.string.js"></script>
  <script src="/js/watch.js"></script>
  <script src="/js/bootstrap-colorpicker.js"></script>
  <script src="/js/bootstrap-slider.js"></script>
  <script src="/js/tinycolor.1.4.1.js"></script>

  <script type="text/template" id="category-template">
    <!-- Category Outer Panel -->
    <div class="panel panel-default panel-outer">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse-<% print(s.slugify(categoryName.toLowerCase())); %>">
          <h4 class="panel-title"><%= categoryName %> <span></span> </h4>
        </a>
      </div>
      <div id="collapse-<% print(s.slugify(categoryName.toLowerCase())) %>" class="panel-collapse collapse in">
        <!-- <div class="panel-body">-->
          <!-- Subcategories Inner Panel -->
          <% print(layoutSubcategories( categoryVars )); %>
      </div>
    </div>
</script>
  <script type="text/template" id="subcategory-template">
    <!-- Subcategory Inner Panel -->
    <div class="panel panel-default panel-inner">
      <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse-<% print(s.slugify(subcategory.toLowerCase())); %>">
          <h4 class="panel-title"><%= subcategory %> <span></span></h4>
        </a>
      </div>
      <div id="collapse-<% print(s.slugify(subcategory.toLowerCase())); %>" class="panel-collapse collapse ">
        <!-- individual variable selector template goes here -->
        <% print(layoutVariables( subcategoryVar )); %>
      </div>
    </div>
  </script>
  <script type="text/template" id="colorvar-template">
    <div id="<%= variable.name %>" class="panel-body variable-display">
      <!-- Variable Label -->
      <label><%= variable.displayName %></label>
      <div class="btn-group dropdown config-type pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <i class="caret"></i> </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" data-value="colorpicker">Color Picker</a></li>
          <li><a href="#" data-value="variable">Choose Variable</a></li>
          <li><a href="#" data-value="function" data-option="darken">Darken</a></li>
          <li><a href="#" data-value="function" data-option="lighten">Lighten</a></li>
        </ul>
      </div>
      <!-- Color Picker & Value Display -->
      <div class="input-group" >
        <a href="#" class="btn btn-default input-group-addon color-picker"></a>
        <input type="text" class="form-control config-display"/>
      </div>
      <!-- Variable List collapsible panel -->
      <div class="config-variables">
        <label>Variable</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <ul class="list-group"></ul>
      </div>
      <!-- Tint slider for formulas -->
      <div class="config-tint" >
        <label>Tint</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <!-- bootstrap slider -->
        <input type="text"
          data-provide="slider"
          data-slider-min="0"
          data-slider-max="100"
          data-slider-step=".5"
          data-slider-value="<%= variable.tint %>"
          data-slider-tooltip="hide"/>
      </div>
      <hr />
    </div>
  </script>
  <script type="text/template" id="fontfamilyvar-template">
    <div id="<%= variable.name %>" class="panel-body variable-display">
      <!-- Variable Label -->
      <label><%= variable.displayName %></label>
      <div class="btn-group dropdown config-type pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <i class="caret"></i> </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" data-value="fontfamily">Font Family</a></li>
          <li><a href="#" data-value="variable">Choose Variable</a></li>
        </ul>
      </div>
      <!-- Value Display -->
      <div class="input-group" >
        <input type="text" class="form-control config-display tool-full-width"/>
      </div>
      <div class="config-fonts">
        <label>Font Families</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <ul class="list-group"></ul>
      </div>
      <!-- Variable List collapsible panel -->
      <div class="config-variables">
        <label>Variable</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <ul class="list-group"></ul>
      </div>
      <hr />
    </div>
  </script>
  <script type="text/template" id="fontsizevar-template">
    <div id="<%= variable.name %>" class="panel-body variable-display">
      <!-- Variable Label -->
      <label><%= variable.displayName %></label>
      <div class="btn-group dropdown config-type pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <i class="caret"></i> </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" data-value="number">Number</a></li>
          <li><a href="#" data-value="variable">Choose Variable</a></li>
          <li><a href="#" data-value="function">Function</a></li>
        </ul>
      </div>
      <!-- Value Display -->
      <div class="input-group" >
        <input type="text" class="form-control config-display tool-full-width"/>
      </div>
      <!-- Variable List collapsible panel -->
      <div class="config-variables">
        <label>Variable</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <ul class="list-group"></ul>
      </div>
      <hr />
    </div>
  </script>
  <script type="text/template" id="attributevar-template">
    <div id="<%= variable.name %>" class="panel-body variable-display">
      <!-- Variable Label -->
      <label><%= variable.displayName %></label>
      <div class="btn-group dropdown config-type pull-right">
        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <i class="caret"></i> </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#" data-value="attribute">Attribute</a></li>
          <!-- <li><a href="#" data-value="variable">Choose Variable</a></li> -->
        </ul>
      </div>
      <!-- Value Display -->
      <div class="input-group" >
        <input type="text" class="form-control config-display tool-full-width" style="text-decoration: <%= variable.value %>"/>
      </div>
      <!-- Attribute List collapsible panel -->
      <div class="config-attribute">
        <label>Attribute</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <ul class="list-group"></ul>
      </div>
      <!-- Variable List collapsible panel -->
      <div class="config-variables">
        <label>Variable</label>
        <button type="button" class="btn btn-link config-close pull-right">×</button>
        <ul class="list-group"></ul>
      </div>
      <hr />
    </div>
  </script>

  <script src="/js/builder.js"></script>
</body>
</html>
